.form {
  display: flex;
  width: inherit;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  width: inherit;
  flex-direction: row;
  align-items: space-between;
  gap: 32px;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}
.form-group input {
  height: 24px;
}

.add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  padding: 0 8px;
  font-size: 18px;
}
