:root {
  --border: #cfcfcf;
  --background: #f9f9f9;
  --radius: 8px;
  --primary-color: #544fb7;

  margin: 0 auto;
  padding: 2rem;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--background);
}

body {
  margin: 0;
}

h1 {
  font-size: 1.4em;
  line-height: 1.1;
  font-weight: 400;
}

button {
  padding: 0.4em 0.8em;
  border-radius: var(--radius);
  border: 1px solid var(--border);
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: var(--background);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: #eee;
}
button.primary {
  color: #f9f9f9;
  background-color: #373f97;
}
button.link {
  padding: 0;
  border: none;
  font-weight: 700;
  color: var(--primary-color);
}
button.link:hover {
  background-color: transparent;
  color: #373f97;
}

label {
  font-size: 0.9em;
  font-weight: 400;
  color: #666;
}
select {
  width: 100%;
  max-width: 200px;
  height: 40px;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: var(--radius);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
