:root {
  --border: #cfcfcf;
  --background: #ffffff;

  margin: 0 auto;
  padding: 2rem;
  
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--background);
}

body {
  margin: 0;
}

h1 {
  font-size: 1.4em;
  line-height: 1.1;
  font-weight: 400;
}

button {
  border-radius: 8px;
  border: 1px solid var(--border);
  padding: 0.4em 0.8em;
  font-size: 1em;
  font-weight: 400;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #cfcfcf;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
button.primary {
  color: #f9f9f9;
  background-color: #5865F2;
}
button.link {
  color: #5865F2;
  font-weight: 600;
  border: none;
  padding: 0;
}

label {
  color: #666;
  font-size: 0.9em;
  font-weight: 400;
}
select {
  width: 100%;
  max-width: 200px;
  height: 40px;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid var(--border);
  box-shadow: none;
  background-color: var(--background);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
